@import "../../Variables";

HospitalizationUnitViewer {
	-fx-padding: $padding;
	-fx-spacing: $spacing;

	#header {
		@include header;
		-fx-padding: $padding;

		#label1 {
			-fx-font-size: 1.3em;
		}

		#label2 {
			-fx-font-size: 1.2em;
		}
	}

	#gridPane {
		@include gridStyle();

		> Label.header {
			@include header;
			-fx-pref-width: 9999px;
			-fx-pref-height: $gridRowHeight;
		}

		> BorderPane {
			> Label.timeLabel {
				-fx-font-weight: bold;
			}

			&.contentPane {

			}
		}

	}
}