@import "../../Variables";

HospitalizationUnitViewer {
	-fx-padding: $padding;
	-fx-spacing: $spacing;

	#header {
		@include header;
		-fx-padding: $padding;
	}

	#gridPane {
		@include gridStyle();

		> Label.header {
			@include header;
			-fx-pref-width: 9999px;
			-fx-pref-height: $gridRowHeight;
		}

		> BorderPane {
			> Label.timeLabel {
			}

			&.contentPane {

			}
		}


	}
}