@import "../../Variables";

ExaminationList {

	#contentGrid {
		@include gridStyle();

		.header {
			@include header;
			-fx-padding: $padding;
			-fx-pref-width: 9999px;
		}

		> BorderPane {
			> Label.timeLabel {
				-fx-font-weight: bold;
			}
		}
	}
}