@import "../../Variables";

VisitRow {
	-fx-padding: $padding;
	-fx-pref-height: $gridRowHeight;

	Label {
	}

	#timeLabel {
		-fx-font-weight: bold;
		-fx-padding: 0 $paddingH 0 0;
	}

	&.even {
		-fx-background-color: $rowEvenBg;
	}

	&.odd {
		-fx-background-color: $rowOddBg;
	}
}
